
// Colors
$red: #FF0000 !default;
$base: #EFEFEF !default;
$header: #C1C1C1 !default;
$border: lighten($header, 10%) !default;
$main-nav: #DCDCDC !default;
$black: #000 !default;
$white: #fff !default;

// Trumbowyg Colors

$light-color: #ecf0f1 !default;
$dark-color: #222 !default;

$modal-submit-color: #2ecc71 !default;
$modal-reset-color: #EEE !default;

$transition-duration: 150ms !default;
$slow-transition-duration: 300ms !default;

//Tooltip 

$balloon-bg:             fade-out(#111, .1) !default;
$balloon-base-size:      10px !default;
$balloon-arrow-height:   6px;