
// Colors
$red: #FF0000 !default;
$base: #EFEFEF !default;
$header: #C1C1C1 !default;
$border: lighten($header, 10%) !default;
$main-nav: #DCDCDC !default;
$black: #000 !default;
$white: #fff !default;



//Tooltip 

$balloon-bg:             fade-out(#111, .1) !default;
$balloon-base-size:      10px !default;
$balloon-arrow-height:   6px;