.row {
  display: flex;
  position: relative;
  width: 100%;
  &.start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
  .col {
    flex-grow: 1;
  }
  .col-1 {
    width: 8.3333%;
  }
  .col-2 {
    width: 16.6666%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333%;
  }
  .col-5 {
    width: 41.6666%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3334%;
  }
  .col-8 {
    width: 66.6667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3334%;
  }
  .col-11 {
    width: 91.6667%;
  }
  .col-12 {
    width: 100%;
  }
  &.gutter {
    [class*="col-"] {
      padding: 0 10px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0px;
      }
    }
  }
}
