.header {
  width: 100%;
  height: 50px;
  background-color: $header;
  display: flex;
  justify-content: space-between;
  .logo {
    height: 50px;
    display: flex;
    align-items:center;
    padding-left: 15px;
  }
  nav {
    ul {
      display: flex;
      
    }
    
    li {
      height: 50px;
      padding: 0 15px;
      transition: all 0.3s ease-in-out;
      border-left: solid thin $border;
      display: flex;
      align-items: center;
      user-select: none;
      &.clickable {
        cursor: pointer;
        &:hover {
          background-color: lighten($header, 10%);
          svg {
            fill: $red;
          }
        }
        &:active {
          background-color: darken($header, 5%);
          svg {
            fill: $white;
          }
        }
        
        svg {
          height: 50px;
          width: 24px;
        }
      }
      
    }
  }
}