
<div class="login">
  <div class="logo">
    <img src="img/logo.svg" alt="">
  </div>
  <div class="login-container">
    <form action="">
      <div class="form-group">
        <label for="">
          Username
        </label>
        <input type="text" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="">
          Password
        </label>
        <input type="text" placeholder="Enter Password">
      </div>
      <div class="form-group">
        <button class="btn btn-red big block">Login</button>
      </div>
    </form>
    <a href="">Forgot your password?</a>
  </div>
</div>
